<!DOCTYPE html>
<html lang="fr">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="all">
    <meta http-equiv="content-language" content="fr">
    <meta name="language" content="fr">

    <script src="/js/lib/chrono.js"></script>
    <script src="/js/lib/axios.js"></script>
    <script src="/js/lib/gsap.js"></script>
    <script src="/js/lib/socket.io.min.js"></script>

    <link rel="stylesheet" href="/css/tailwind.css">

    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}

    {{#each preJs}}
    <script src="/js/dist/{{this}}.js"></script>
    {{/each}}


    <meta name="robots" content="all">
    <meta name="target" content="all">
    <meta name="author" content="Arthaud Proust">
    <meta name="owner" content="Arthaud Prout">
    <meta name="language" content="fr">

    <meta http-equiv="content-language" content="fr" />
    <meta name="url" content="https://preview.arthaud.dev">
    <meta name="identifier-URL" content="https://preview.arthaud.dev">
    <link rel="canonical" href="https://preview.arthaud.dev" />

    <title>Galerie de pré-visualisation en temps réel</title>
    <meta name="subject" content="photography">
    <meta name="description" content="Visualisez, comparez, organisez, partagez vos photos depuis n'importe quel appareil." />
    <meta name="theme-color" content="{{ifNull theme 'white' }}">

    <meta property="og:title" content="Galerie de pré-visualisation en temps réel" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Visualisez, comparez, organisez, partagez vos photos depuis n'importe quel appareil." />
    <meta property="og:site_name" content="Galerie de pré-visualisation en temps réel" />
    <meta property="og:url" content="https://preview.arthaud.dev" />
    <meta property="og:locale" content="fr" />
    <meta property="og:image" content="https://arthaud.dev/assets/img/hero.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Galerie de pré-visualisation en temps réel" />
    <meta name="twitter:description" content="Visualisez, comparez, organisez, partagez vos photos depuis n'importe quel appareil." />
    <meta name="twitter:site" content="https://preview.arthaud.dev" />
    <meta name="twitter:image" content="https://preview.arthaud.dev/assets/img/apple-touch-icon-180x180.png" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Galerie de pré-visualisation en temps réel" />
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ifNull theme 'white' }}">



    <!-- Apple meta -->
    <link rel="apple-touch-icon" href="https://preview.arthaud.dev/assets/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://preview.arthaud.dev/assets/img/apple-touch-icon-180x180.png" />

    <link rel="icon" href="https://preview.arthaud.dev/assets/img/favicon.ico">

    <link rel="manifest" href="/manifest.json">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Galerie de pré-visualisation en temps réel",
            "url": "https://preview.arthaud.dev",
            "address": "Bordeaux",
            "sameAs": [
                "https://www.facebook.com/arthaud.dev",
                "https://instagram.com/arthau.d",
                "https://www.linkedin.com/in/arthaud-proust/",
                "https://twitter.com/arthaud_proust"
            ]
        }
    </script>


</head>
<body class="">
    {{{body}}}

    {{#each postJs}}
    <script src="/js/dist/{{this}}.js"></script>
    {{/each}}
</body>
</html>